*.py[cod]
__pycache__/
db.sqlite3
*.sqlite3
media/
staticfiles/
.env
env
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.mo
*.swp
*.swo
*.DS_Store
*.coverage
.coverage.*
.cache/
*.mypy_cache/
*.pytest_cache/
.idea/
.vscode/
node_modules/
